body {
    margin: 0;
}

h2, h4 {
    color: #E57F84;
    font-family: 'Corben', cursive;
}

p, li {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.badge {
    font-size: 1.2em;
}


/* ----------- Home Page----------------- */

/* Nav Bar */

#navbar {
    transition: 1s;
}

.logo {
    height: 4em;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s;
}

/* Hero Section */
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url("./assets/hero2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #4296a044;/*#F4EAE6;*/
}


#hero-title {
    font-family: 'Corben', cursive;
    font-size: 4em;
    color: #E57F84; 
    text-shadow: #F4EAE6 3px 3px;
}

.hero-desc{
    color: #F4EAE6;
    font-weight: bolder;
    font-size: 1.5em;
}

.hero-btn {
    background-color: #2F5061;
    border: 2px solid #2F5061;
    color: white;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.hero-btn:hover {
    color: #2F5061;
    background-color: white;
    border: 2px solid #2F5061;
}

@media only screen and (min-width: 768px) {
    #hero-title {
        font-size: 6em;
    }
    .hero-btn {
        font-size: 2em;
    }
}

/* About Section */
.about-img {
    height: 10em;
}

@media only screen and (min-width: 768px) {
    .about-img {
        height: 20em;
    }
}

/* Featured */

.to-finished {
    background-color: #2F5061;
    transition: 1s;
    font-size: 2em;
    color: #F4EAE6;
}

.to-finished:hover {
    background-color: #F4EAE6;
    color: #2F5061;
}


footer {
    background-color: #2F5061;
    color: #F4EAE6;
}

footer h6, 
footer p, 
.footer-links, 
footer span {
    color: #F4EAE6;
}


/* ---------- AMIGURUMI PATTERNS PAGE------------- */
#ami-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url("./assets/amipatterns/amigurumi.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #4296a044;/*#F4EAE6;*/
}


#ami-hero-title, #cloth-hero-title, #basics-hero-title, #fin-hero-title {
    font-family: 'Corben', cursive;
    font-size: 2.5em;
    color: #E57F84; 
    text-shadow: #F4EAE6 1.5px 1.5px;
}

.legend-box {
    background-color: #F4EAE6;
    border-radius: 30px;
}

#sidebar {
    background-color: #F4EAE6;
}

.ami-cat-title {
    font-size: 1.8em;
    /* color: #E57F84; */
}

.ami-categories {
    font-size: 1.5em;
    color: #4297A0;
    list-style-type: none;
    padding: 0;
}

.pattern-title {
    transition: .3s;
}

.pattern-title:hover {
    color: #F85C70;
}

.difficulty {
    background-color: #E43D40;
}

.hook-size {
    background-color: #FABEC0;
}

.yarn-size {
    background-color: #F85C70;
}

.crochet-type {
    background-color: #F37970;
}

@media only screen and (min-width: 576px) {
    #ami-hero-title, #cloth-hero-title, #basics-hero-title, #fin-hero-title {
        font-size: 3em;
        text-shadow: #F4EAE6 2px 2px;
    }

    
}

@media only screen and (min-width: 768px) {
    #ami-hero-title, #cloth-hero-title, #basics-hero-title, #fin-hero-title {
        font-size: 6em;
        text-shadow: #F4EAE6 3px 3px;
    }
    
}

/* ---------- CLOTHING PATTERNS PAGE------------- */

#fin-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url("./assets/finished.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #4296a044;
}

/* ---------- CLOTHING PATTERNS PAGE------------- */

#cloth-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url("./assets/clothing/clothing.jpg");
    background-size: cover;
    background-position: center 70%;
    height: 100vh;
    color: #4296a044;
}

/* ---------- BASICS PAGE------------- */

#basics-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url("./assets/tips.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #4296a044;
}

table {
    background-color: #F4EAE6;
    border-radius: 20px;
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    /* padding: 200em; */
    font-size: 1.2em;
    border: 1px solid white;
    border-collapse: collapse;
}

/* ---------CONTACT ME ------------- */

#contact-hero {
    background-image: url("./assets/contact.jpg");
    background-color: #4297A0;
    
    background-repeat: no-repeat;
    
    background-size: cover;
        background-position: center;
    min-height: 100vh;
    color: #4296a044;
}

label {
    font-family: 'Raleway', sans-serif;
    color: #4297A0;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.contact-box {
    width: 80vw;
    margin-right: 0;
    background-color: #F4EAE6;
    border-radius: 40px;
    margin-top: 7em;
    margin-bottom: 7em;
}

@media only screen and (min-width: 576px) {
    .contact-box {
        margin-top: 7em;
        margin-bottom: 7em;
    }
    
}

@media only screen and (min-width: 768px) {
    #contact-hero {
        background-size: contain;
        background-position: right;
    }
    .contact-box {
        margin-right: 15em;
        width: 60vw;
    }

    
}

.messagebox {
    width: 100%;
}

/* ----------THANK YOU PAGE ------------- */
#thanks-hero {
    height: 100vh;
    background-color: #4297A0;
}

.thanks-box {
    width: 80vw;
    margin-right: 0;
    background-color: #F4EAE6;
    border-radius: 40px;
    margin-top: 7em;
    margin-bottom: 7em;
}

.thank-desc {
    font-size: 1.3em;
    color: #2F5061;
}